# Cilium's CRD spec shows all of the below resources as not being namespaced.
# Always omit namespaces from these.

---
apiVersion: cilium.io/v2
kind: CiliumBGPClusterConfig
metadata:
  name: bgp-peering-policy
spec:
  nodeSelector:
    matchLabels:
      bgp-enabled: "true"
  bgpInstances:
    - name: instance-{{ cilium_bgp_my_asn }}
      localASN: {{ cilium_bgp_my_asn }}
      peers:
{% if _cilium_bgp_neighbors | length > 0 %}
{%   for item in _cilium_bgp_neighbors %}
        - name: peer-{{ item.peer_address | replace('.', '-') }}
          peerASN: {{ item.peer_asn }}
          peerAddress: {{ item.peer_address }}
          peerConfigRef:
            name: upstream-peer-config
{%   endfor %}
{% else %}
        - name: peer-{{ cilium_bgp_peer_address | replace('.', '-') }}
          peerASN: {{ cilium_bgp_peer_asn }}
          peerAddress: {{ cilium_bgp_peer_address }}
          peerConfigRef:
            name: upstream-peer-config
{% endif %}

---
apiVersion: cilium.io/v2
kind: CiliumBGPPeerConfig
metadata:
  name: upstream-peer-config
spec:
  ebgpMultihop: {{ cilium_bgp_ebgp_multihop }}
  gracefulRestart:
    enabled: {{ cilium_bgp_graceful_restart | bool | lower }}
    restartTimeSeconds: {{ cilium_bgp_graceful_restart_secs }}
  timers:
    connectRetryTimeSeconds: {{ cilium_bgp_timer_connect_retry_secs }}
    holdTimeSeconds: {{ cilium_bgp_timer_hold_secs }}
    keepAliveTimeSeconds: {{ cilium_bgp_timer_keepalive_secs }}
  families:
    - afi: ipv4
      safi: unicast
      advertisements:
        matchLabels:
          advertise: bgp

---
# The "advertise: bgp" label links this to the PeerConfig's advertisement selector
apiVersion: cilium.io/v2
kind: CiliumBGPAdvertisement
metadata:
  name: bgp-adv-service-lbs
  labels:
    advertise: bgp
spec:
  advertisements:
    - advertisementType: Service
      service:
        addresses:
          - LoadBalancerIP
      selector: {}
## The above empty selector effectively advertises *all* service IPs with an LBIP. As noted
## by the Cilium docs, to advertise a specific subset of services that have a predetermined
## custom label set on them:
#       selector:
#         matchExpressions:
#           - { key: someLabel, operator: In, values: [someMatchingValue] }
{% if cilium_export_pod_cidr | default(true) | bool %}
    - advertisementType: PodCIDR
{% endif %}

---
apiVersion: cilium.io/v2
kind: CiliumLoadBalancerIPPool
metadata:
  name: vip-apps-default
spec:
  blocks:
{% if "/" in cilium_bgp_lb_cidr %}
  - cidr: {{ cilium_bgp_lb_cidr }}
{% else %}
  - start: {{ cilium_bgp_lb_cidr.split('-')[0] }}
    stop: {{ cilium_bgp_lb_cidr.split('-')[1] }}
{% endif %}
  allowFirstLastIPs: "No"
